.qualification-container {
    background: linear-gradient(to bottom, #c6ebfa, #495e75);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 20px;
  }
  
  .form-box {
    background: linear-gradient(to top, #c6ebfa, #859aaf);
    padding: 80px;
    border-radius: 10px;
    color: black;
    width: 350px;
    text-align: center;
  }
  
  h2 {
    color: black !important;
    margin-bottom: 20px;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: black;
  }
  
  button {
    background-color: black !important;
    color: white;
    padding: 10px 20px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  p {
    color: black !important;
    margin-top: 15px;
    font-size: 16px;
  }
  
  p:hover {
    color: #4a4844;
  }
  