
.admin-menu-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .admin-menu-container h2 {
    color: black;
    margin-bottom: 20px;
  }
  
  .admin-menu-options {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .admin-menu-option {
    display: block;
    background-color:#6c8fb4;
    color:black;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .admin-back-button {
    background-color:#6c8fb4;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    width: 100%;
  }
  